{% extends 'base.html'%}

{%block title%} Usuń ogłoszenie {%endblock%}

{%block content%}


<div class="card text-dark bg-warning mb-3 mx-auto" style="max-width: 300px;margin-top: 10%;">
    <div class="card-header">Czy chcesz usunac produkt?</div>
    <div class="card-body mx-auto">
        <form method="POST">
            {%csrf_token%}
        <button type="submit" name="delete_form" value="0" class="btn btn-success">Anuluj</button>
        <button type="submit" name="delete_form" value="1" class="btn btn-danger">Usun</button>
         </form>
    </div>
  </div>

{%endblock%}