{% extends 'base.html'%}

{%block title%} Edyuj profil {%endblock%}

{%block content%}
<div class="container">
    <div class="row">
        <div class="col-12">

            <div class="card text-bg-secondary mx-auto mt-4 p-4 text-center" id="grey_card" style="max-width: 50rem;background-color:grey;-webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
              -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
              box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);">

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    Imie: {{form.name}}
                    Nazwisko: {{form.surname}}
                    Numer: {{form.phone}}<br><br>
                    Addres: <br>
                    {{form.address}}<br>
                    {{form.profile_img}}
                    <hr>
                    <button type="submit" name="Create User" class="btn btn-primary">SEND</button>
                </form>
                
            </div>
        </div>
    </div>
</div>

{%endblock%}